# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage
htmlcov*

# database & logs
*.db
*.sqlite3
*.log

# venv
env
venv

# other
.DS_Store
.vscode

# javascript
package-lock.json

staticfiles/*
!staticfiles/.gitkeep 

media/*

.env
